* {
  font-family: "Arial", sans-serif;
  box-sizing: border-box;
}

.container {
  background-color: #fce4ec;
  max-width: 100%;
  min-height: 100vh;
  margin: 30px auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2, h3, p {
  text-align: center;
  color: #030202;
}

form {
  display: flex;
  width: 100%;
  justify-content: center;
}

input {
  border: 1px solid #f8bbd0;
  padding: 10px;
  font-size: 16px;
  border-radius: 20px;
  width: 70%; /* Anpassad storlek */
}

input:focus {
  outline: none;
}

.form-control {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    cursor: pointer;
    background-color: #f06292;
    color: #060505;
    border: none;
    padding: 10px 20px;
  }
  
  .recipes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .recipe.clicked {
    background-color: #f48fb1;
  }
  
  .card {
    width: 45%; 
    max-width: 300px; 
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    padding-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card-image {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .card-body {
    padding: 10px;
    text-align: center;
  }
  
  .category {
    color: #ec407a;
  }
  
  a {
    background-color: #ff80ab;
    color: inherit;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
  }